<section class="vh-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">
        <div class="card mask-custom">
          <div class="card-body p-4 text-white">
            <div class="text-center pt-3 pb-2">
              <div class="d-flex justify-content-around py-2 mb-4">
                <a class="nav-link active" routerLinkActive="">Home</a>
                <a class="nav-link" routerLink="/completed">Completed</a>
                <a class="nav-link" routerLink="/users">Users</a>
              </div>
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-todo-list/check1.webp"
                alt="Check"
                width="60"
              />

              <div>
                <h2 class="my-4 text-dark">Task List</h2>
              </div>
            </div>

            <div class="mb-4 d-flex justify-content-center">
              <input
                type="text"
                class="form-control w-50"
                placeholder="Search by author"
                [(ngModel)]="searchQuery"
              />
              <button class="btn btn-danger mx-2 fs-3" (click)="onSearch()">
                Cerca
              </button>
            </div>

            <table class="">
              <thead>
                <tr>
                  <th scope="col">Users</th>
                  <th scope="col">Task</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="fw-normal" *ngFor="let t of todosWithAuthors">
                  <th>
                    <span>{{ t.author }}</span>
                  </th>
                  <td class="align-middle">
                    <span class="me-5">{{ t.todo }}</span>
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0 me-5">
                      <span>{{ t.completed ? "Completed" : "Pending" }}</span>
                    </h6>
                  </td>
                  <td class="align-middle">
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="flexSwitchCheckDefault"
                        [(ngModel)]="t.completed"
                        (change)="onTodoStatusChange(t)"
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckDefault"
                      ></label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
